/*
Botones Facebook y Google LogIn
*/
.social {
 margin-top: 6rem;
}

.pass {
 height: 50x !important;
 width: 320px;
}

.slide-intro .tabs-content{
 height: 500px !important;
}

.button-icon {
 height: 15px;
}

#ruc, #lpartner {
 max-width: 66%;
}


@media only screen and (max-width: 500px) {
    #ruc, #lpartner {
    max-width: 62%;
   }
}